.signup-container {
    display: flex;
    justify-content: space-between;
}

.requirements {
    font-family: "Delta Block";
    margin-right: 5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #163DFF;
}

.requirement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.requirement p {
    margin: .25em 0;
    align-self: start;
}

.signup-modal,
.requirements {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(205, 205, 205, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #163DFF;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.signup-modal h1 {
    margin: 1em 0 .5em 0;
    font-family: "M42_FLIGHT 721";
    color: #163DFF;
    border-bottom: 2px solid #163DFF;
    width: 100%;
    text-align: center;
}

.signup-title {
    font-family: "Delta Block";
    color: #163DFF;
    margin: .5em 1em;
    font-size: large;
}

.signup-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.signup-input {
    margin: .75em;
    width: 80%;
}

.signup-input input {
    font-family: "Delta Block";
    font-size: medium;
    border-radius: 8px;
    width: 100%;
}

.signup-submit {
    margin: 1.5em;
    margin-bottom: 2.5em;
    padding: .75em;
    padding-top: 1.25em;
    font-family: "M42_FLIGHT 721";
    background-color: #00C7FF;
    border: 2px solid #163DFF;
    box-shadow: 5px 5px 10px #163DFF;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.signup-submit:disabled {
    background-color: lightgray;
    color: gray;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
    cursor: default;
}

.signup-error {
    font-family: "Delta Block";
    color: red;
    margin: 0em 1em;
}

@media only screen and (max-width: 850px) {
    .requirements {
        padding: .5em;
        margin-right: 2em;
        min-width: 150px;
    }

    .signup-modal h1 {
        font-size: 16pt;
    }

    .signup-input {
        display: flex;
        justify-content: center;
        width: auto;
    }
}

@media only screen and (max-width: 750px) {
    .requirements {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 525px) {
    .requirements {
        margin-right: .75em;
    }

    .signup-modal h1 {
        font-size: 12pt;
    }

    .signup-title {
        font-size: 12pt;
        text-align: center;
    }

    .signup-input {
        margin: .5em;
    }

    .signup-input input {
        justify-content: center;
        width: 80%;
        font-size: 10pt;
    }

    .signup-submit {
        font-family: "Delta Block";
        font-size: 16pt;
        padding: .5em;
        margin: 1em;
        margin-top: .5em;
    }
}
