.friend-list-all {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: url('https://lifeskill-bucket.s3.amazonaws.com/images/page-background-clip.png'), linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(122, 226, 255, 1) 82%, rgba(0, 199, 255, 1) 100%);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

.all-friends {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend-tile {
    margin: 1em 0;
    padding: 1em;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(205, 205, 205, 1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    min-width: 625px;
    height: fit-content;
    border: 2px solid #163DFF;
    border-radius: 15px;
}

.friend-tile-info {
    width: 100%;
    font-family: "Delta Block";
    font-size: large;
    color: #163DFF;
}

.friend-pic {
    max-height: 8em;
}

.remove-friend {
    margin: 1.5em;
    padding: .75em;
    padding-top: 1.25em;
    font-family: "M42_FLIGHT 721";
    background-color: red;
    border: 2px solid rgb(172, 0, 0);
    box-shadow: 5px 5px 10px rgb(172, 0, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.all-requests {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-tile {
    margin: 1em 0;
    padding: 1em;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(205, 205, 205, 1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    min-width: 625px;
    height: fit-content;
    border: 2px solid #163DFF;
    border-radius: 15px;
}

.request-tile-info {
    width: 100%;
    font-family: "Delta Block";
    font-size: large;
    color: #163DFF;
}

.request-pic {
    max-height: 8em;
}

.reject-request {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 0;
    padding: 0;
    font-family: "M42_FLIGHT 721";
    background-color: red;
    border: 2px solid rgb(172, 0, 0);
    box-shadow: 5px 5px 10px rgb(172, 0, 0);
    color: white;
    font-size: 45pt;
    border-radius: 50px;
    cursor: pointer;
}

.accept-request {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em 0 0;
    padding: 0;
    font-family: "M42_FLIGHT 721";
    background-color: #00C7FF;
    border: 2px solid #163DFF;
    box-shadow: 5px 5px 10px #163DFF;
    color: white;
    font-size: 45pt;
    border-radius: 50px;
    cursor: pointer;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "M42_FLIGHT 721";
    color: #163DFF;
    text-decoration: underline 4px #163DFF;
    padding: 1em;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(205, 205, 205, 1) 100%);
    border: 2px solid #163DFF;
    border-radius: 15px;
}

@media only screen and (max-width: 900px) {

    .friend-tile,
    .request-tile {
        width: 550px;
        min-width: 550px;
        height: auto;
        min-height: auto;
        padding: .5em;
        margin: .5em 0;
        font-size: small;
    }

    .friend-tile-info,
    .request-tile-info {
        font-size: 12pt;
    }

    .accept-request,
    .reject-request {
        font-size: 30pt;
    }

    .remove-friend {
        font-size: 8pt;
    }
}

@media only screen and (max-width: 575px) {

    .friend-tile,
    .request-tile {
        width: 400px;
        min-width: 400px;
        height: auto;
        min-height: auto;
        padding: .5em;
        margin: .5em 0;
        font-size: x-small;
    }

    .friend-tile-info,
    .request-tile-info {
        font-size: small;
    }

    .accept-request,
    .reject-request {
        font-size: 25pt;
    }

    .remove-friend {
        font-size: smaller;
    }
}
