#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
}

@media only screen and (max-width: 850px) {
    #modal-content {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    #modal-content {
        width: 95%;
    }
}

@media only screen and (max-height: 800px) {
    #modal-content {
        height: auto;
    }
}
