.character-list-all {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: url('https://lifeskill-bucket.s3.amazonaws.com/images/page-background-clip.png'), linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(122, 226, 255, 1) 82%, rgba(0, 199, 255, 1) 100%);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

.all-characters {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-tile {
    margin: 1em 0;
    padding: 1em;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(205, 205, 205, 1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    min-width: 625px;
    height: fit-content;
    border: 2px solid #163DFF;
    border-radius: 15px;
}

.pic-name-lvl {
    padding: 0;
    margin-right: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Delta Block";
    font-size: larger;
    color: #163DFF;
    text-align: center;
}

.character-tile-info {
    width: 100%;
    font-family: "Delta Block";
    font-size: large;
    color: #163DFF;
}

.char-pic {
    max-height: 8em;
    height: auto;
    width: auto;
}

.message-user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px 0 0;
    padding: 0;
    max-width: fit-content;
}

.add-friend,
.message-user button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px 0 0;
    padding: 0;
    font-family: "M42_FLIGHT 721";
    color: white;
    font-size: 45pt;
    border-radius: 50px;
    cursor: pointer;
}

.add-friend {
    background-color: #00C7FF;
    border: 2px solid #163DFF;
    box-shadow: 5px 5px 10px #163DFF;
}

.message-user button {
    margin: 0;
    background-color: #e79946;
    border: 2px solid #b07230;
    box-shadow: 5px 5px 10px #b07230;
}

.add-icon,
.message-user img {
    width: 60px;
    height: 60px;
    filter: brightness(5000%);
    -webkit-filter: brightness(5000%);
}

@media only screen and (max-width: 900px) {
    .character-tile {
        width: 550px;
        min-width: 550px;
        height: auto;
        min-height: auto;
        padding: .5em;
        margin: .5em 0;
        font-size: small;
    }

    .character-tile-info {
        font-size: 12pt;
    }

    .message-user,
    .add-friend {
        margin-right: 40px;
    }

    .add-icon,
    .message-user img {
        width: 40px;
        height: 40px;

    }
}

@media only screen and (max-width: 575px) {
    .character-tile {
        width: 400px;
        min-width: 400px;
        height: auto;
        min-height: auto;
        padding: .5em;
        margin: .5em 0;
        font-size: x-small;
    }

    .character-tile-info {
        font-size: small;
    }

    .message-user,
    .add-friend {
        margin-right: 25px;
    }

    .add-icon,
    .message-user img {
        width: 33.3333px;
        height: 33.3333px;
    }
}

@media only screen and (max-width: 450px) {
    .character-list-container {
        align-self: center;
        width: 90%;
    }

    .all-characters {
        padding: 0;
    }

    .character-tile {
        width: 100%;
        min-width: 100%;
    }

    .message-user,
    .add-friend {
        margin-right: 20px;
    }

    .add-icon,
    .message-user img {
        width: 26.6667px;
        height: 26.6667px;
    }
}

@media only screen and (max-width: 400px) {

    .char-pic {
        width: 60px;
    }

    .character-tile-info {
        font-size: 8pt;
    }

    .pic-name-lvl p {
        margin: .25em 0;
        font-size: 8pt;
    }

    .message-user,
    .add-friend {
        margin-right: 15px;
    }
}
