.private-message-modal {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(205, 205, 205, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #163DFF;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1em;
    width: 500px;
    height: 70%;
}

.chat-name {
    font-family: "Delta Block";
    font-size: 20pt;
    color: #163DFF;
}

.private-message-log {
    background-color: white;
    border: 2px solid #163DFF;
    border-radius: 10px;
    box-shadow: 8px 4px 8px gray;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    max-width: 90%;
    height: 200px;
}

.private-message {
    font-family: "Delta Block";
    font-size: 14pt;
    margin: .1em .25em;
    color: #163DFF;
    word-wrap: break-word;
}
